exclude: "data/*"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    -   id: isort
        name: isort (python)
-   repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
    -   id: black
# -   repo: https://github.com/numpy/numpydoc
#     rev: v1.6.0
#     hooks:
#     -   id: numpydoc-validation
-   repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v0.9.1
    hooks:
    - id: sphinx-lint
      args: [--enable=all, --disable=default-role, --max-line-length=75]
      files: ^docs/
